<div id="main" class="container-fluid" ngsf-fullscreen>
	
	<!-- Top Clock Widget -->
	<div class="row">
		<div class="col-xs-12">
			<clock-widget />
		</div>
	</div>
	
	<!-- Main Weather Widget -->
	<div class="row">
		<div class="col-xs-12">
			<!-- Weather widget -->
			<div class="panel panel-default weatherPanel">
				<div class="panel-body">
					<weather-widget />
				</div>
			</div>
		</div>
	</div>
	
	<!-- APPs buttons -->
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">Radio FM</button>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">MP3 Player</button>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">GPS Navigator</button>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">Options</button>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">Car status</button>
		</div>
		<div class="col-xs-6 col-sm-4 col-md-4">
			<button type="button" class="btn appButton">XXX</button>
		</div>
	</div>
	
</div>

